h1 {
  color: black;
  text-align: center;
  font-family: Arial;
  font-style: bold;
}

p {
  color: black;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #dcd0ff;
  padding: 20px;
  gap: 20px;
}

.container div {
  background-color: #000000;
  height: auto;
  width: auto;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}