.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #dcd0ff;
  padding: 30px;
  gap: 30px;
}
.container div {
  background-color: #000000;
  padding: 10px;
}