.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #dcd0ff;
  padding: 30px;
  gap: 30px;
}
.container div {
  background-color: #000000;
  color: #000;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}