h1 {
  color: black;
  text-align: center;
  font-family: Arial;
  font-style: bold;
}

p {
  color: black;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #dcd0ff;
  padding: 5px;
  gap: 5px;
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
