body {
  background-color: violet;
}

h1 {
  color: white;
  text-align: center;
  font-family: Garamond;
  font-style: italic;
}

p {
  color: black;
  text-align: center;
  font-family: Monaco;
  font-size: 16px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}