.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #dcd0ff;
}
 
.container div {
  background-color: #000000;
  height: 300px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}