h1 {
  color: black;
  text-align: center;
  font-family: Aptos;
  font-style: bold;
}

p {
  color: black;
  text-align: center;
  font-family: Aptos;
  font-size: 14px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #dcd0ff;
}
 
.container div {
  background-color: #000000;
  height: auto;
  width: auto;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}