.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd0ff;
}
 
.container div {
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  width:30%;
  margin: 20px;
  padding: 20px;
}