.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd0ff;
}
 
.container div {
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  width: 1000;
  margin: 100;
  padding: 100;
}