.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd0ff;
}
 
.container div {
  background-color: #000000;
  display: inline-block
  width: auto;
  margin: 20px;
  padding: 20px;
}