.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd0ff;
}
 
.container div {
  background-color: #000000;
  display: block;
  width: auto;
  margin: auto;
  padding: auto;
}