.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd0ff;
}
 
.container div {
  background-color: #f1f1f1;
  width: 500px;
  margin: 50px;
  padding: 50px;
  text-align: center;  
  font-size: 30px;
}