h1 {
  color: black;
  text-align: center;
  font-family: Aptos;
  font-style: bold;
}

p {
  color: black;
  text-align: center;
  font-family: Aptos;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd0ff;
}
 
.container div {
  background-color: #000000;
  display: block;
  width: 50%;
  margin: 20px;
  padding: 20px;
}